.blog-box {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 121.4px;
  width: 300px;
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: #4367B3;
}

.last-post-container {
  
}

.last-post-row {
  background-color: #e2e2e2;
  color: rgb(83, 83, 83);
  width: 100%;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

.post-sender {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 3px;
  margin-right: 7px;
}

.data-sender {
  margin-right: 7px;
  color: rgb(83, 83, 83);
  font-size: 11px;
}

.time-sender {
  color: black;
  font-size: 11px;
}

.post {
  margin-bottom: 4px;
  margin-left: 7px;
  margin-right: 7px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}