.position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: lightpink;
}

.header {
  background-color: #3C5995;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  color: #FDFDFD;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4367B3;
  align-items: center;
  padding: 10px;

}

.button {
  background-color: #4367B3;
  border: none;
  color: #FDFDFD;
  margin: 0 20px 5px 20px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 15px;
}

.button:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FDFDFD;
}

.search {
  flex: 1;
  height: 40px;
  border: none;
  border-radius: 3px;
  padding: 0 8px;
  font-size: 16px;
  margin-bottom: 5px;
  box-shadow: inset 0px 0px 5px rgba(0,0,0, 0.02);
}

.CEO {
  flex: 1;
  background-color: #4367B3;
  border: none;
  color: #FDFDFD;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 13px;
  padding: 8px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}