.sidebar {
  position: fixed;
  top: 121.5px;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #4367B3;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.profile-picture {
  margin-top: 30px;
  width: 220px;
  height: 220px;
  border-style: dashed;
  border-width: 2px;
  border-color: #4367B3;
}

.profile-info {
  display: flex;
  flex-direction: column;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #4367B3;
}

.a {
  margin-left: 20px;
  margin-bottom: 5px;
}

.profile-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.profile-settings-button {
  width: 200px;
  border: none;
  margin-bottom: 150px;
  font-size: 22px;
  background-color: #3C5995;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.profile-log-out-button {
  width: 200px;
  border: none;
  margin-bottom: 5px;
  font-size: 22px;
  background-color: #e2e2e2;
  color: rgb(83, 83, 83);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}